.cardDiv{
    // position: relative;
    
    // // justify-content: space-evenly;
    // padding: 2rem 1rem;
    // background: var(--whiteColor);
    // border-radius: 10px;
    // gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem; /* Add spacing between items */
    padding: 2rem 1rem;
    background: var(--whiteColor);
    border-radius: 10px;

    .destination {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        width: 250px;
        // text-align: center; /* Center-align placeholder text */
    }


    label {
        display: block;
        color: var(--textColor);
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
    }

    .lable_total{
        justify-content: space-between;
        align-items: center;

        .total {
            color: var(--textColor);
            font-size: 18px;
            padding-bottom: 10px;
        }
    }

    .search-bar {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }

        input[type="text"] {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 14px;
            width: 260px;
    
            &:focus {
                outline: none;
                border-color: var(--PrimaryColor);
            }
        }
    }

    .popup{
        // position: absolute;
        // top: 390px;
        // left: 160px;
        // // transform: translateX(50%);
        // background-color: white;
        // padding: 20px;
        // border-radius: 10px;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        // z-index: 100;
        // width: 400px;

        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        z-index: 100;
        width: 550px; // Ensure enough space for both date pickers
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .popup h3 {
        margin: 0 0 8px 0;
        font-size: 14px;
        color: #333;
        font-weight: bold;
        z-index: 10;
    }

    .nearby-destination {
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 10;
    }
      
    .destination-item {
        display: flex;
        align-items: center;
        padding: 8px 0;
        color: var(--textColor);
        cursor: pointer;
        z-index: 10;
    }

    .destination-item:hover {
        background-color: #f0f0f0;
    }
      
    .location-icon {
        font-size: 18px;
        margin-right: 8px;
    }
      
    .destination-name {
        font-weight: bold;
        font-size: 14px;
        margin: 0;
    }
      
    .destination-country {
        font-size: 12px;
        color: #777;
        margin: 0;
    }

    .date-picker {
        // display: flex;
        // justify-content: space-between;
        position: relative;
        // width: 50px;
      
        input {
          width: 100%;
          padding: 8px 12px;
          border: 1px solid #ddd;
          border-radius: 5px;
          cursor: pointer;
        }
      
        .date-picker-popup {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            z-index: 100;
            width: 550px; // Ensure enough space for both date pickers
            display: flex;
            flex-direction: column;
            align-items: flex-start;
      
          .close-button {
            align-self: flex-end;
            background: none;
            border: none;
            font-size: 16px;
            cursor: pointer;
            color: #888;
          }
      
          .date-picker-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 20px; // Adds space between the two date pickers
          }
      
          .react-datepicker {
            // Add any additional styling specific to DatePicker library here
            font-size: 14px;
          }
        }
    }

    
        

    .guest-selector {
        position: relative;

        input {
            width: max-content;
            padding: 8px 12px;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;

        }
    
        .guest-selector-popup {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            z-index: 100;
            width: 400px;

            .guest-selector-label{
                justify-content: space-between;
                flex-wrap: nowrap;

                .counter {
                    width:10rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    label {
                        font-weight: bold;
                    }

                    .button-group{
                        cursor: pointer;
                    }

                    button {
                        width: 30px;
                        height: 30px;
                        font-size: 18px;
                        font-weight: bold;
                        background-color: #f0f0f0;
                        border: none;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    span {
                        color: var(--textColor);
                        width: 20px; 
                        font-size: 16px;
                        // margin: 0 10px;
                    }
                }
                
            }

            

            hr {
                margin: 15px 0;
                border: 0;
                border-top: 1px solid #e0e0e0;
            }

            .toggle {
                justify-content: space-between;
                align-items: center;
                // margin-bottom: 10px;

                .petsInput{
                    width: 3rem;
                    margin-bottom: 9px;
                }
    
                label {
                    font-weight: bold;
                    flex: 1; 
                }
    
                input[type="checkbox"] {
                    float: left;
                    transform: scale(1.2);
                }
            }

            .note {
                font-size: 12px;
                color: #666;
                margin: 10px 0;
    
                a {
                    color: #0073e6;
                    text-decoration: underline;
                }
            }

            .done-button {
                width: 100%;
                padding: 10px;
                background-color: #0073e6;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    .SearchOption{
        color: var(--whiteColor);
        font-size: 1rem;
        // background-color: var(--PrimaryColor);
        // padding: .5rem 1rem;
        // border-radius: 10px;
    }

    .input{
        height: 40px;
        padding:0 1rem;
        background: var(--inputColor);
        border-radius: 3rem;

        input{
            background: none;
            border: none;
            outline: none;
            width: 100%;
            font-size: 13px;
            font-weight: 500;
            &::placeholder{
                font-size: 13px;
            }
        }

        .icon{
            font-size: 18px;
            color: var(--PrimaryColor) !important;
            margin-left: 10px;
        }

        .input[type=range]{
            background: blue;
        }
    }

    .searchOptions{
        position: absolute;
        background: var(--gradientColor);
        width: max-content;
        bottom: -0.7rem;
        column-gap: 0.8rem;
        padding: 5px 1rem;
        border-radius: 3rem;
        left:50%;
        transform: translate(-50%);
        justify-content: center;
        cursor: pointer;

        &:hover{
            background: var(--PrimaryColor);
        }

        .icon{
            font-size: 18px;
        }

        span{
            font-size: 13px;
        }
    }
}

@media screen and (min-width: 500px) {
    .cardDiv{
        grid-template-columns: repeat(2,1fr);
    }
      
}

@media screen and (min-width: 660px) {
    
    .cardDiv{
        padding: 2rem 1rem;
        grid-template-columns: repeat(3,1fr);
    }
       
}

@media screen and (min-width: 1240px) {
    
    .cardDiv{
        padding: 2rem 1rem;
        grid-template-columns: repeat(3,1fr);
    }
}