:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.home {
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


    .overlay {
        position:absolute;
        height: 100%;
        width: 100%;
        background: rgb(47, 106, 127);
        top:0;
        bottom:0;
        z-index:1;
        mix-blend-mode: hard-light;
    }

    video{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 7rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--whiteColor);
        z-index: 100;

        .textDiv {
            padding: 1rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle{
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv{
            position: relative;
            // justify-content: space-evenly;
            padding: 2rem 1rem;
            background: var(--whiteColor);
            border-radius: 10px;
            gap: 1rem;


            label {
                display: block;
                color: var(--textColor);
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .lable_total{
                justify-content: space-between;
                align-items: center;

                .total {
                    color: var(--textColor);
                    font-size: 18px;
                    padding-bottom: 10px;
                }
            }

            .search-bar {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;

                @media (min-width: 768px) {
                    flex-wrap: nowrap;
                }

                input[type="text"] {
                    padding: 10px;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    font-size: 14px;
                    width: 260px;
            
                    &:focus {
                        outline: none;
                        border-color: var(--PrimaryColor);
                    }
                }
            }


            // .date-picker {
            //     position: relative;
            
            //     .date-picker-popup {
            //         // display: flex;
            //         // gap: 10px;
            //         // position: absolute;
            //         // top: 100%;
            //         // left: 0;
            //         // background: #fff;
            //         // border: 1px solid #ddd;
            //         // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            //         // padding: 15px;
            //         // z-index: 10;
            //         // display: flex;
            //         // gap: 10px;
            //         // border-radius: 8px;
            //         display: flex;
            //         gap: 10px; // Adds space between the two date pickers
            //         position: absolute;
            //         top: 40px; // Adjusts the popup position below the input field
            //         background-color: white;
            //         padding: 10px;
            //         border: 1px solid #ddd;
            //         border-radius: 5px;
            //         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            //         z-index: 100;
            
            //         input {
            //             // border-radius: 8px;
            //             // padding: 10px;
            //             // border: 1px solid #ddd;
            //             // font-size: 14px;
            //             // width: 120px;

            //             width: 100%;
            //             padding: 8px 12px;
            //             border: 1px solid #ddd;
            //             border-radius: 5px;
            //             cursor: pointer;
            
            //             &:focus {
            //                 border-color: #007bff;
            //             }
            //         }
            
            //         button {
            //             // background: var(--greyText);
            //             // color: #9b9a9a;
            //             // border: none;
            //             // border-radius: 50%;
            //             // width: 24px;
            //             // height: 24px;
            //             // cursor: pointer;
            //             // font-weight: bold;

            //             position: absolute;
            //             top: 5px;
            //             right: 5px;
            //             background: none;
            //             border: none;
            //             cursor: pointer;
            //             font-size: 16px;
            //             color: #888;
            
            //             &:hover {
            //                 opacity: 2;
            //                 // background: var(--greyText);
            //             }
            //         }
            //     }
            // }

            .date-picker {
                // display: flex;
                // justify-content: space-between;
                position: relative;
                // width: 50px;
              
                input {
                  width: 100%;
                  padding: 8px 12px;
                  border: 1px solid #ddd;
                  border-radius: 5px;
                  cursor: pointer;
                }
              
                .date-picker-popup {
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                    z-index: 100;
                    width: 550px; // Ensure enough space for both date pickers
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
              
                  .close-button {
                    align-self: flex-end;
                    background: none;
                    border: none;
                    font-size: 16px;
                    cursor: pointer;
                    color: #888;
                  }
              
                  .date-picker-container {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    gap: 20px; // Adds space between the two date pickers
                  }
              
                  .react-datepicker {
                    // Add any additional styling specific to DatePicker library here
                    font-size: 14px;
                  }
                }
            }

            
                

            .guest-selector {
                position: relative;

                input {
                    width: max-content;
                    padding: 8px 12px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    cursor: pointer;

                }
            
                .guest-selector-popup {
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                    z-index: 100;
                    width: 400px;
                    // position: absolute;
                    // top: 100%;
                    // left: 0;
                    // background: #fff;
                    // border: 1px solid #ddd;
                    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    // padding: 10px;
                    // display: flex;
                    // gap: 10px;
                    // align-items: center;
                    // border-radius: 8px;
                    // z-index: 10;

                    .guest-selector-label{
                        justify-content: space-between;
                        flex-wrap: nowrap;

                        .counter {
                            width:10rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
    
                            label {
                                font-weight: bold;
                            }

                            .button-group{
                                cursor: pointer;
                            }
    
                            button {
                                width: 30px;
                                height: 30px;
                                font-size: 18px;
                                font-weight: bold;
                                background-color: #f0f0f0;
                                border: none;
                                border-radius: 50%;
                                cursor: pointer;
                            }
    
                            span {
                                color: var(--textColor);
                                width: 20px; 
                                font-size: 16px;
                                // margin: 0 10px;
                            }
                        }
                        
                    }

                    

                    hr {
                        margin: 15px 0;
                        border: 0;
                        border-top: 1px solid #e0e0e0;
                    }

                    .toggle {
                        justify-content: space-between;
                        align-items: center;
                        // margin-bottom: 10px;

                        .petsInput{
                            width: 3rem;
                            margin-bottom: 9px;
                        }
            
                        label {
                            font-weight: bold;
                            flex: 1; 
                        }
            
                        input[type="checkbox"] {
                            float: left;
                            transform: scale(1.2);
                        }
                    }

                    .note {
                        font-size: 12px;
                        color: #666;
                        margin: 10px 0;
            
                        a {
                            color: #0073e6;
                            text-decoration: underline;
                        }
                    }

                    .done-button {
                        width: 100%;
                        padding: 10px;
                        background-color: #0073e6;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-weight: bold;
                        font-size: 14px;
                    }
            
                    // button {
                    //     // background: #9b9a9a;
                    //     color: #9b9a9a;
                    //     border: none;
                    //     border-radius: 50%;
                    //     width: 24px;
                    //     height: 24px;
                    //     cursor: pointer;
                    //     font-weight: bold;
            
                    //     &:hover {
                    //         opacity: 3;
                    //         // background: #0056b3;
                    //     }
                    // }
            
                    // span {
                    //     color: var(--textColor);
                    //     font-size: 16px;
                    // }
                }
            }

            .SearchOption{
                color: var(--whiteColor);
                font-size: 1rem;
                // background-color: var(--PrimaryColor);
                // padding: .5rem 1rem;
                // border-radius: 10px;
            }

            .input{
                height: 40px;
                padding:0 1rem;
                background: var(--inputColor);
                border-radius: 3rem;

                input{
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;
                    &::placeholder{
                        font-size: 13px;
                    }
                }

                .icon{
                    font-size: 18px;
                    color: var(--PrimaryColor) !important;
                    margin-left: 10px;
                }

                .input[type=range]{
                    background: blue;
                }
            }

            .searchOptions{
                position: absolute;
                background: var(--gradientColor);
                width: max-content;
                bottom: -0.7rem;
                column-gap: 0.8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left:50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;

                &:hover{
                    background: var(--PrimaryColor);
                }

                .icon{
                    font-size: 18px;
                }

                span{
                    font-size: 13px;
                }
            }
        }

        .homeFooterIcons{
            width: 100%;
            justify-content: space-between;

            .icon{
                font-size: 20px;
                margin: 0 5px;
                color: var(--whiteColor);
                font-weight: 600;
                &:hover{
                    color: var(--PrimaryColor);
                }
            }
        }

    }
}

// MEDIA QUERIES

@media screen and (min-width: 500px) {
    .home{
        .homeContent{
            .textDiv{
                .smallText{
                    font-size: 16px;
                }

                .homeTitle{
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;

                    &::after{
                        position: absolute;
                        content: '';
                        background: var(--SecondaryColor);
                        height: 5px;
                        width: 145px;
                        right: 0;
                        bottom: 5px;
                        z-index: -1;
                    }
                }
            }

            .cardDiv{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}

@media screen and (min-width: 660px) {
    .home{
        .homeContent{
            .cardDiv{
                padding: 2rem 1rem;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}

@media screen and (min-width: 940px) {
    .home{
        height: 80vh;
    }
}

@media screen and (min-width: 1240px) {
    .home{
        height: 90vh;

        .homeContent{
            // padding-left: 0;
            // padding-right: 0;

            .cardDiv{
                padding: 2rem 1rem;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}