:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
}

.hotelDetails {
    padding-top: 70px; 

    .SearchBar{
        background: var(--gradientColor);
        width:100%;
        height:190px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        padding: 1rem;
        z-index: 1000;
    }

    .hotelCard{
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        border-radius: 8px;
        height: 179px;
        // padding: 20px;
        margin: 25px 85px 0;
        // margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .hotelImage img {
            cursor: pointer;
            width: 300px;
            height: 177px;
            border-top-left-radius: 8px;
            object-fit: cover;
        }

        .hotelInfo {
            flex: 2;
            padding: 0 20px;
            cursor: pointer;
        }

        .hotelType {
            cursor: pointer;
            gap: .5rem;
            .icon {
                color: var(--textColor);
                font-size: 15px;
            }
        }

        .hotelInfo h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .hotelRating {
            color: green;
            font-weight: bold;
            cursor: pointer;
        }

        .hotelPrice {
            // text-align: right;
            // justify-content: space-between;
            // flex: 1;
            // background: #e6f7ff; /* Light blue background */
            // padding: 16px;
            // border-radius: 8px;
            // text-align: center;
            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            // margin: 10px;
            // display: grid;
            // grid-template-rows: auto 1fr auto;
            // gap: 8px;
            // padding: 0 20px;

            flex: 1;
            background: #e6f7ff; /* Light blue background */
            padding: 16px;
            border-radius: 8px;
            position: relative; /* Set position relative to allow absolute positioning */
            display: flex;
            flex-direction: column; /* Stack content vertically */
            justify-content: space-between; /* Ensure spacing between price and button */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 10px;
            cursor: pointer;

            &:hover{
                background: #d7eef8;
            }

            .priceText {
                font-size: 16px;
                font-weight: 600;
                color: #007bff;
                margin-bottom: auto;
            }

            .seePricesBtn {
                // align-self: end; /* Push button to the bottom */
                // justify-self: end;
                // background: #007bff; /* Blue button */
                // color: #fff;
                // font-size: 14px;
                // font-weight: 600;
                // padding: 8px 12px;
                // border: none;
                // border-radius: 4px;
                // cursor: pointer;
                position: absolute; /* Use absolute positioning */
                bottom: 16px; /* Align to the bottom */
                right: 16px; /* Align to the right */
                background: #007bff; /* Blue button */
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                padding: 8px 12px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
    
                &:hover {
                    background: #0056b3;
                }
            }
        }

        // .hotelPrice p {
        //     font-size: 1.2em;
        //     margin-bottom: 10px;
        // }

        // .seePricesBtn {
        //     padding: 10px 15px;
        //     background-color: #007bff;
        //     color: #fff;
        //     border: none;
        //     border-radius: 4px;
        //     cursor: pointer;
        // }
    }

    .tabContainer {
        border: 1px solid #ddd;
        border-radius: 0px 0px 8px 8px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 0 85px 25px;

        .tabs {
            display: flex;
            border-bottom: 1px solid #ddd;
        }

        .tabs button {
            flex: 1;
            padding: 5px;
            background: none;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }

        .tabs .active {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }

        .tabContent {
            padding: 20px;

            .infoTab{
                padding: 20px;
                background: var(--whiteColor);

                .carousel {
                    display: flex;
                    align-items: center;
                    position: relative;

                    .amenities {
                        display: flex;
                        overflow: hidden;
                        width: 100%;
                        gap: 31px;
                        padding-left: 25px;

                        .card {
                            background: #fff;
                            border: 1px solid #ddd;
                            border-radius: 8px;
                            padding: 16px;
                            width: 30%;
                            text-align: center;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        }

                        .card h4 {
                            font-size: 16px;
                            margin-bottom: 8px;
                        }
                        
                        .card p {
                            font-size: 13px;
                            color: #666;
                        }

                        .arrow {
                            // background: none;
                            // border: none;
                            // font-size: 24px;
                            // cursor: pointer;
                            // color: #333;
                            // padding: 0 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 32px; /* Adjust the size */
                            height: 32px;
                            background-color: #fff; /* White background */
                            border: none; /* Remove border */
                            border-radius: 50%; /* Circular button */
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
                            cursor: pointer; /* Pointer on hover */
                            position: absolute; /* For precise positioning */
                            z-index: 10; /* Ensure it's on top */

                            /* Transition for hover effect */
                            transition: transform 0.2s ease, box-shadow 0.2s ease;

                            // &:hover {
                            //     transform: scale(1.1); /* Slight zoom on hover */
                            //     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
                            // }
    
                            // &.right {
                            //     top: 50%; /* Center vertically */
                            //     right: -16px; /* Position slightly outside the container */
                            //     transform: translateY(-50%); /* Adjust for perfect centering */
                            // }
    
                            // &.left {
                            //     top: 50%;
                            //     left: -16px;
                            //     transform: translateY(-50%);
                            // }

                           
                        }

                        

                        .arrow:hover {
                            transform: scale(1.1); /* Slight zoom on hover */
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                        }
                        
                        .arrow.left {
                            top: 50%;
                            left: -16px;
                            transform: translateY(-50%);
                        }
                        
                        .arrow.right {
                            top: 50%; /* Center vertically */
                            right: -16px; /* Position slightly outside the container */
                            transform: translateY(-50%);
                        }

                        .rightArrow, .leftArrow {
                            font-size: 20px; /* Size of the arrow icon */
                            color: #000; /* Black arrow color */
                        }


                    }
                }

                .expandableCards{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    margin-top: 24px;

                    .card {
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        padding: 16px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                        h4 {
                            margin-bottom: 8px;
                            font-size: 18px;
                            font-weight: bold;
                        }
                
                        .amenitiesList {
                            display: flex;
                            flex-wrap: wrap;
                            // justify-content: space-around;
                            gap: 5rem;

                            p {
                                margin: 0;
                                font-size: 13px;
                                color: #555;
                                padding: 4px 8px;
                            }
                        }
                
                        .expandedContent {
                            display: flex;
                            flex-direction: column;
                            // margin-top: 16px;
                            // // display: flex;
                            // gap: 32px;
                            // margin-top: 8px;

                            .amenitiesCategories {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 20px; /* Add spacing between categories */
                            }

                            .amenitiesCategory {
                                flex: 1; /* Each category takes equal width */
                                min-width: 200px;

                                h5 {
                                    font-size: 16px;
                                    font-weight: bold;
                                    margin-bottom: 8px;
                                }

                                ul {
                                    list-style: none;
                                    padding: 0;
                    
                                    li {
                                        margin-bottom: 4px;
                                        font-size: 14px;
                                    }
                                }
                            }


                            p {
                                margin-top: 2px; 
                                line-height: 1.6;
                            }
                            h5{
                                margin-top: 10px;
                                font-weight: bold;
                            }
                        }

                        .toggleBtn {
                            margin-top: 20px; /* Space between the categories and the button */
                            align-self: flex-start; /* Align button at the bottom */
                            background-color: #fff;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            padding: 10px 20px;
                            cursor: pointer;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                            // margin-top: 12px;
                            // padding: 8px 16px;
                            // background-color: transparent;
                            // border: none;
                            // color: #007BFF;
                            // cursor: pointer;
                            // font-size: 14px;
                
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        .photosTab {
            .photosSection {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }

            .thumbnails {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }

            .thumbnail {
                width: 100px;
                height: 100px;
                object-fit: cover;
                cursor: pointer;
                border-radius: 5px;
                transition: transform 0.2s;
            }

            .thumbnail:hover {
                transform: scale(1.1);
            }

            .photoModal {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;

                .modalContent {
                    width: 100%; /* Full width of parent */
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // width: 100%;
                    // height: 100%;
                }

                .modalPhoto {
                    max-width: 1000px;
                    max-height: 1000px;
                    border-radius: 10px;
                }

                .closeModal,
                .prevPhoto,
                .nextPhoto {
                    position: absolute;
                    top: 50%;
                    background: rgba(255, 255, 255, 0.7);
                    border: none;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    font-size: 20px;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .closeModal {
                    top: 10px;
                    right: 10px;
                    transform: translateY(0);
                }
                
                .prevPhoto {
                    left: 10px;
                }
                
                .nextPhoto {
                    right: 10px;
                }
            }

            

          

            

            
        }


        // .photosTab img {
        //     width: 100px;
        //     height: 100px;
        //     margin: 5px;
        //     object-fit: cover;
        //     border-radius: 4px;
        // }

        .review {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }
    }

    .pagination {
        display: flex;
        justify-content: center; // Centers the pagination in the middle of the page
        align-items: center;
        gap: 10px; // Adds space between the elements
        margin: 20px 0; // Adds top and bottom spacing
      
        button {
          padding: 8px 12px;
          border: none;
          border-radius: 4px;
          background-color: hsl(187, 85%, 43%);
          color: #fff;
          font-size: 14px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.2s ease;
      
        //   &:hover {
        //     background-color: #0056b3; // Darker blue on hover
        //     transform: translateY(-2px); // Adds a subtle lift effect on hover
        //   }
      
          &:disabled {
            background-color: #ccc;
            color: #666;
            cursor: not-allowed;
          }
        }
      
        span {
          font-size: 16px;
          color: #333;
        }
    }

    


}


// .hotelDetails .SearchBar {
//     margin-top: 20px; /* Add additional spacing if needed */
//     z-index: 1; /* Lower than the Navbar */
// }